<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wulingqi.lightning.mapper.MemberMapper">
  <resultMap id="BaseResultMap" type="com.wulingqi.lightning.model.Member">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="job" jdbcType="VARCHAR" property="job" />
    <result column="integration" jdbcType="VARCHAR" property="integration" />
    <result column="freeze_integration" jdbcType="VARCHAR" property="freezeIntegration" />
    <result column="alipay_uid" jdbcType="VARCHAR" property="alipayUid" />
    <result column="agent_ratio" jdbcType="VARCHAR" property="agentRatio" />
    <result column="inviter_id" jdbcType="BIGINT" property="inviterId" />
    <result column="invite_code" jdbcType="VARCHAR" property="inviteCode" />
    <result column="effective_status" jdbcType="INTEGER" property="effectiveStatus" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="login_time" jdbcType="TIMESTAMP" property="loginTime" />
    <result column="login_ip" jdbcType="VARCHAR" property="loginIp" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="version" jdbcType="BIGINT" property="version" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from br_member
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wulingqi.lightning.model.Member">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into br_member (username, password, nickname, 
      phone, email, name, 
      avatar_url, gender, birthday, 
      city, job, integration, 
      freeze_integration, alipay_uid, agent_ratio, 
      inviter_id, invite_code, effective_status, 
      status, login_time, login_ip, 
      create_time, version)
    values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{avatarUrl,jdbcType=VARCHAR}, #{gender,jdbcType=INTEGER}, #{birthday,jdbcType=DATE}, 
      #{city,jdbcType=VARCHAR}, #{job,jdbcType=VARCHAR}, #{integration,jdbcType=VARCHAR}, 
      #{freezeIntegration,jdbcType=VARCHAR}, #{alipayUid,jdbcType=VARCHAR}, #{agentRatio,jdbcType=VARCHAR}, 
      #{inviterId,jdbcType=BIGINT}, #{inviteCode,jdbcType=VARCHAR}, #{effectiveStatus,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{loginTime,jdbcType=TIMESTAMP}, #{loginIp,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{version,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wulingqi.lightning.model.Member">
    update br_member
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      avatar_url = #{avatarUrl,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=INTEGER},
      birthday = #{birthday,jdbcType=DATE},
      city = #{city,jdbcType=VARCHAR},
      job = #{job,jdbcType=VARCHAR},
      integration = #{integration,jdbcType=VARCHAR},
      freeze_integration = #{freezeIntegration,jdbcType=VARCHAR},
      alipay_uid = #{alipayUid,jdbcType=VARCHAR},
      agent_ratio = #{agentRatio,jdbcType=VARCHAR},
      inviter_id = #{inviterId,jdbcType=BIGINT},
      invite_code = #{inviteCode,jdbcType=VARCHAR},
      effective_status = #{effectiveStatus,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      login_time = #{loginTime,jdbcType=TIMESTAMP},
      login_ip = #{loginIp,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, username, password, nickname, phone, email, name, avatar_url, gender, 
    birthday, city, job, integration, freeze_integration, alipay_uid, agent_ratio, inviter_id, 
    invite_code, effective_status, status, login_time, login_ip, create_time, version
    from br_member
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, username, password, nickname, phone, email, name, avatar_url, gender, 
    birthday, city, job, integration, freeze_integration, alipay_uid, agent_ratio, inviter_id, 
    invite_code, effective_status, status, login_time, login_ip, create_time, version
    from br_member
  </select>
</mapper>