<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wulingqi.lightning.portal.mapper.PortalMapper">
    
    <select id="selectAppUpgradeByType" resultMap="com.wulingqi.lightning.mapper.AppUpgradeMapper.BaseResultMap">
        select
            *
        from
            br_app_upgrade
        where type = #{type}
    </select>
    
    <select id="selectVerificationCodeByReceiverAndMinute" resultMap="com.wulingqi.lightning.mapper.VerificationCodeMapper.BaseResultMap">
        select
            *
        from
            br_verification_code
        where receiver = #{receiver}
        and create_time >= DATE_SUB(NOW(), INTERVAL #{minute} MINUTE)
    </select>
    
    <select id="selectPlatformCollectionInfoByCollectionType" resultMap="com.wulingqi.lightning.mapper.PlatformCollectionInfoMapper.BaseResultMap">
        select
            *
        from
            br_platform_collection_info
        where collection_type = #{collectionType}
        and delete_status = 0
        order by create_time desc
    </select>
   	
</mapper>