<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wulingqi.lightning.portal.mapper.PortalMemberMapper">
    
	<select id="selectMemberByAccount" resultMap="com.wulingqi.lightning.mapper.MemberMapper.BaseResultMap">
	    select
	        *
	    from
	        br_member
	    where phone = #{account} or email = #{account} or username = #{account}
	</select>
	
	<select id="selectMemberByInviteCode" resultMap="com.wulingqi.lightning.mapper.MemberMapper.BaseResultMap">
	    select
	        *
	    from
	        br_member
	    where invite_code = #{inviteCode}
	</select>
	
	<select id="selectTeamLevelByMemberId" resultMap="com.wulingqi.lightning.mapper.TeamLevelMapper.BaseResultMap">
	    select
	        *
	    from
	        br_team_level
	    where member_id = #{memberId}
	</select>
	
	<select id="selectInviteStatisticsHandleQueue" resultMap="com.wulingqi.lightning.mapper.InviteStatisticsHandleQueueMapper.BaseResultMap">
		select *
		from br_invite_statistics_handle_queue
		where handle_status = 0
		order by create_time asc
	</select>
	
	<select id="selectTeamInviteStatisticsByMemberIdAndStatisticsDate" resultMap="com.wulingqi.lightning.mapper.TeamInviteStatisticsMapper.BaseResultMap">
		select *
		from br_team_invite_statistics a
		where a.member_id = #{memberId}
		and to_days(a.statistics_date) = to_days(#{statisticsDate})
	</select>
	
	<select id="selectDirectInviteStatisticsByMemberIdAndStatisticsDate" resultMap="com.wulingqi.lightning.mapper.DirectInviteStatisticsMapper.BaseResultMap">
		select *
		from br_direct_invite_statistics a
		where a.member_id = #{memberId}
		and to_days(a.statistics_date) = to_days(#{statisticsDate})
	</select>
	
	<select id="selectMemberStatisticsByMemberId" resultMap="com.wulingqi.lightning.mapper.MemberStatisticsMapper.BaseResultMap">
		select *
		from br_member_statistics a
		where a.member_id = #{memberId}
	</select>
	
</mapper>