<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wulingqi.lightning.portal.mapper.PortalMemberMapper">
    
	<select id="selectMemberByAccount" resultMap="com.wulingqi.lightning.mapper.MemberMapper.BaseResultMap">
	    select
	        *
	    from
	        br_member
	    where phone = #{account} or email = #{account} or username = #{account}
	</select>
	
	<select id="selectMemberByPhone" resultMap="com.wulingqi.lightning.mapper.MemberMapper.BaseResultMap">
	    select
	        *
	    from
	        br_member
	    where phone = #{phone}
	</select>
	
	<select id="selectMemberByInviteCode" resultMap="com.wulingqi.lightning.mapper.MemberMapper.BaseResultMap">
	    select
	        *
	    from
	        br_member
	    where invite_code = #{inviteCode}
	</select>
	
	<select id="selectTeamLevelByMemberId" resultMap="com.wulingqi.lightning.mapper.TeamLevelMapper.BaseResultMap">
	    select
	        *
	    from
	        br_team_level
	    where member_id = #{memberId}
	</select>
	
	<select id="selectStatisticsHandleQueue" resultMap="com.wulingqi.lightning.mapper.InviteStatisticsHandleQueueMapper.BaseResultMap">
		select *
		from br_statistics_handle_queue
		where handle_status = 0
		order by create_time asc
	</select>
	
	<select id="selectTeamInviteStatisticsByMemberIdAndStatisticsDate" resultMap="com.wulingqi.lightning.mapper.TeamInviteStatisticsMapper.BaseResultMap">
		select *
		from br_team_invite_statistics a
		where a.member_id = #{memberId}
		and to_days(a.statistics_date) = to_days(#{statisticsDate})
	</select>
	
	<select id="selectDirectInviteStatisticsByMemberIdAndStatisticsDate" resultMap="com.wulingqi.lightning.mapper.DirectInviteStatisticsMapper.BaseResultMap">
		select *
		from br_direct_invite_statistics a
		where a.member_id = #{memberId}
		and to_days(a.statistics_date) = to_days(#{statisticsDate})
	</select>
	
	<select id="selectMemberStatisticsByMemberId" resultMap="com.wulingqi.lightning.mapper.MemberStatisticsMapper.BaseResultMap">
		select *
		from br_member_statistics a
		where a.member_id = #{memberId}
	</select>
	
	<select id="selectMemberTeamList" resultType="com.wulingqi.lightning.portal.vo.TeamListVo">
	    select
	    	a.id as memberId,
	    	a.phone,
	        a.nickname,
	        a.effective_status as effectiveStatus,
	        a.avatar_url as avatarUrl,
	        a.agent_ratio as agentRatio,
	        b.invite_count as shareCount,
	        b.team_count as teamCount,
	        b.invite_effective_count as shareEffectiveCount,
	        b.team_effective_count as teamEffectiveCount,
	        b.agent_income as totalIncome,
	        date_format(a.create_time, '%Y-%m-%d %H:%i') as registerTime
	    from
	        br_member a
	    left join br_member_statistics b on a.id = b.member_id
	    where inviter_id = #{memberId}
	</select>
	
</mapper>